{% extends 'cinema/base.html' %}


{% block title %}{{ table_name|title }}{% endblock %}

{% block content %}
<h1>{{ table_name|title }}</h1>

{% comment %} <head>
    {% load static %}
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="{% static 'css/dashboard.css' %}">
</head> {% endcomment %}

<!-- Додати запис -->
<div class="mb-3">
    <a href="{% url 'add_record' table_name %}" class="btn btn-primary">Додати запис</a>
</div>

<!-- Список записів -->
{% comment %} {% load custom_filters %} {% endcomment %}
<table class="table table-bordered">
    <thead>
        <tr>
            {% for column in columns %}
            <th>{{ column }}</th>
            {% endfor %}
            <th>Дії</th>
        </tr>
    </thead>
    <tbody>
        {% for record in records %}
        <tr>
            {% for column in columns %}
            {% load custom_filters %}
            <td>{{ record|get_item:column }}</td>
            {% endfor %}
            <td>
                <a href="{% url 'edit_record' table_name record.id %}" class="btn btn-warning btn-sm">Редагувати</a>
                <a href="{% url 'delete_record' table_name record.id %}" class="btn btn-danger btn-sm">Видалити</a>
            </td>
        </tr>
        {% empty %}
        <tr>
            <td colspan="{{ column_count }}" class="text-center">Немає даних</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}
