body {
    background-color: #343a40;
    color: white;
}

.sidebar {
    background-color: #495057;
    /* Інший колір для панелі */
    width: 30%;
    /* Розмір панелі */
    height: 100vh;
    /* Висота на весь екран */
    padding: 40px;
    box-sizing: border-box;
}

.content {
    width: 70%;
    padding: 20px;
}

.sidebar h3 {
    color: #f8f9fa;
    /* Світліший текст для заголовка */
}

.list-group-item {
    background-color: #343a40;
    /* Темно-сірий для елементів списку */
    color: white;
}

.list-group-item:hover {
    background-color: #495057;
    /* Світліший сірий при наведенні */
}

.main-content {
    background-color: #343a40;
    color: white;
    padding: 20px;
}

.list-group {
    background-color: #343a40;
    color: white;
}